/* Layout.module.css */
/* styles.css */
.revolving-glb-container {
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  position: relative; /* Needed for canvas positioning */
  border: 2px solid #3498db; /* Add your border here */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better visuals */
}


@media only screen and (max-width: 600px) {
  .root {
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) {
  .root {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .photo {
    width: 15em;
    height: 10em;
    object-fit: contain;
    border-radius: 20px;
    margin: 1rem auto;
  }
}

@media only screen and (min-width: 801px) {
  .photo {
    width: 30em;
    height: 20em;
    object-fit: contain;
    border-radius: 20px;
    margin: 1rem auto;
  }
}

.gridcontainer1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 1rem auto;
}

@media only screen and (max-width: 800px) {
  .gridcontainer1 {
    grid-template-columns: 1fr;
    margin: 1rem auto;
  }
}

@media only screen and (min-width: 801px) {
  .gridcontainer3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /*grid-template-rows: 100px 200px;*/
      grid-gap: 1rem;
      margin: 1rem 3rem 1rem 3rem;
  }
}


@media only screen and (min-width: 801px) {
  .gridcontainer1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 801px) {
  .gridcontainerb {
    grid-template-columns: repeat(3, 1fr);
  }
}
.griditemb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.griditemb img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.gridcontainer4 {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 0 3rem;
  grid-gap: 20px;
  line-height: 1rem;
  font-size: 4vw;
}

.gridcontainer4 p {
  margin-bottom: -1rem;
}

@media only screen and (min-width: 801px) {
  .gridcontainer4 {
    display: flex;
    flex-direction: column;
    margin: 0 4rem 0 4rem;
    grid-gap: 20px;
    line-height: 2rem;
    font-size: 2vw;
  }
  .gridcontainer4 p {
    margin-bottom: -10px;
  }
}

.gridcontainer5 {
  display: flex;
  flex-direction: column;
  margin: -1rem auto;
  line-height: 2rem;
}

@media only screen and (min-width: 801px) {
  .gridcontainer5 {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 0 3rem;
    grid-gap: 20px;
  }
}
.summary{
  padding: 0 15%;
}
.caption { padding: 0 20%; 
  align-items: center;
justify-content: center;
text-align: center;}
.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.griditem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.griditem1 img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.card {
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

.biggerdiv {
  margin: 4vw 4vw;
}

.cards {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  border-radius: 100px;
}

.cards:hover {
  cursor: grab;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
  }
}

@media (min-width: 600px) {
  .cards2 {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 1rem 10rem 1rem 10rem;
  }
}

.cards3:hover {
  cursor: grab;
}

@media (min-width: 600px) {
  .cards3 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    color: rgb(0, 0, 0);
    margin: 1rem;
    display: grid;
    grid-gap: 10px;
    padding: 1rem;
    text-align: center;
  }
}

.card4:hover {
  opacity: 0.5;
}

.card5:hover {
  opacity: 0.5;
}

.card6:hover {
  opacity: 0.5;
}

.card5 {
  background-color: rgb(255, 234, 0);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 100%;
  text-align: center;
  padding: 70px 80px 70px 80px;
  margin: 10rem;
  
}

@media (min-width: 600px) {
  .card5 {
    width: 75%;
    height: 75%;
  }
}

.card6 {
  background-color: rgb(255, 0, 204);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 100%;
  text-align: center;
  justify-content: center;
  padding: 70px 0;
  margin: 10rem;
}

@media (min-width: 600px) {
  .card6 {
    width: 75%;
    height: 75%;
  }
}

@media screen and (max-width: 799px) {
  .cards7 {
    margin: 10px;
  }
}

@media screen and (min-width: 800px) {
  .cards7 {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-gap: 5px;
  }

  .card7 {
    margin: 0 5px;
    max-width: 400px;
  }
}

.card8 {
  background-color: rgb(0, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 100%;
  text-align: center;
  padding: 70px 80px 70px 80px;
  margin: 10rem;
}

.card8:hover {
  opacity: 0.5;
}

@media (min-width: 600px) {
  .card8 {
    width: 75%;
    height: 75%;
  }
}

.card9 {
  background-color: rgb(133, 114, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 100%;
  text-align: center;
  padding: 70px 80px 70px 80px;
  margin: 10rem;
}

.card9:hover {
  opacity: 0.5;
}

@media (min-width: 600px) {
  .card9 {
    width: 75%;
    height: 75%;
  }
}
.divArt {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border: 2px solid rgb(32, 179, 39);
}

.img2 {
  max-width: 20%;
  height: 50%;
  border: 4px solid rgb(32, 179, 39);
}

.article1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  text-align: left;
  padding: 0 5px 0;
  margin: 1rem;
  border-radius: 20px;
}

.image-wrapper {
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.image-wrapper > div {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

/* ... Continue with more styles ... */
