.container {
  min-height: 100vh;

  margin: 2rem;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 25% [col] 25% [col] 25% [col] 25%;
  grid-template-rows: [row] auto [row] auto [row];
  background-color: rgba(9, 47, 173, 0.096);
  color: rgb(104, 207, 255);
  align-items: center;
}

.main {
  grid-column: col / span 4;
  grid-row: row;

  margin: 2rem;
}

.submain {
  grid-column: col / span 2;
  grid-row: row 2;
  background-color: rgb(16, 180, 57);
  padding: 1rem;
  margin: 2rem;
}

.subsubmain {
  grid-column: col 3 / span 2;
  grid-row: row 2;
  background-color: rgb(32, 100, 179);
  color: rgb(56, 41, 190);
  border-radius: 20px;

  font-size: 150%;
  padding: 1rem;
  margin: 2rem;
}
