.container {
  min-height: 100vh;
  padding: 2rem;
  margin: 2rem;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
  grid-template-rows: [row] auto [row] auto [row];
  background-color: #fff;
  color: #444;
  align-items: center;
}

.main {
  grid-column: col / span 4;
  grid-row: row;
}

.submain {
  grid-column: col / span 2;
  grid-row: row 2;
}

.subsubmain {
  grid-column: col / span 4;
  grid-row: row 3;
  background-color: rgb(182, 51, 51);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
