.basic {
  display: flex;
  /*border-top: 1rem;*/
  /*border-color: aqua;*/
  line-height: 1.5;
  font-size: 2rem;
  font-family: monospace;
  border-radius: 20px;
  border: .5vw solid rgb(0, 32, 75);
  justify-content: center;
}
