
@media (min-width: 600px) {
    .card7 {
        width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 768px) {
    .cards7 {
        flex-direction: column;
        margin: .5rem;
    }

    .card7 {
        margin: 0;
        max-width: none;
        width: 100%;
    }
}

.griditem1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: hsl(calc(360 * var(--i)), 70%, 80%);*/
}

.griditem1 img {
    width: 100%;
    height: auto;

    object-fit: contain;
    border-radius: 20px;
}

/*img {*/
/*    border-radius: 20px;*/
/*}*/

@media only screen and (min-width: 801px) {
    .gridcontainer3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-rows: 100px 200px;*/
        grid-gap: 1rem;
        margin: 1rem 3rem 1rem 3rem;
    }
}
/*.card7 {*/
/*  flex: 0 0 calc(33.33% - 20px);*/


/*}*/

.cards7 img {
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}