@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255, 255, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
// .caro {
//   display: flex;
//   max-height: 25rem;
//   flex: 0 1 auto;

//   object-fit: fill;
// }

.image-wrapper {
  display: flex;
  width: auto;

  justify-content: center;
  align-items: center;
}
/* the magic happens here */
.image-wrapper > div {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  justify-content: center;
  align-items: center;
}
//Zoom article feature

/*   color variables */
$clr-primary: #103a0c;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
  gap: 2rem;
  justify-content: center;
  border-radius: 20px;
  border: 5px solid rgb(0, 32, 75);
  margin: 1rem 1rem 1rem;
}
@media (max-width: 200px) {
  .wrapper {
    grid-template-columns: repeat(auto, 1fr);
    display: grid;
    gap: 2rem;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid rgb(0, 32, 75);
    margin: 1rem 1rem 1rem;
  }
}
// .wrapper1 {
//   display: flex;

//   gap: 1rem;
//   justify-content: space-evenly;

//   border-radius: 5px;
//   border: 5px solid rgb(3, 247, 255);
//   margin-top: 1 rem;
//   padding-top: 1 rem;
// }
// .card {
//   overflow: hidden;
//   box-shadow: 0 2px 20px $clr-gray300;
//   border-radius: $radius;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   cursor: pointer;
//   transition: transform 200ms ease-in;
//   font-size: 1rem;

//   &__image {
//     height: 50%;
//     width: auto;
//     object-fit: cover;
//   }

//   &__title {
//     padding: 5px;
//   }

//   &__description {
//     padding: 5px;
//   }

//   &__btn {
//     padding: 5px;
//     font-family: inherit;
//     font-weight: bold;
//     font-size: 1rem;
//     margin: 5px;
//     border: 2px solid $clr-primary;
//     background: transparent;
//     color: $clr-primary;
//     border-radius: $radius;
//     transition: background 200ms ease-in, color 200ms ease-in;
//   }

//   &:hover {
//     transform: scale(1.02);
//   }

//   &:hover &__btn {
//     background: $clr-primary;
//     color: white;
//     cursor: cell;
//   }
// }
