.title a,
.title span {
  color: #001022;
  text-decoration: none;
  font-family: "Palette Mosaic", cursive;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Palette Mosaic", cursive;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: cursive;
}
