.container {
  min-height: 100vh;

  margin: 1rem;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 25% [col] 25% [col] 25% [col] 25%;
  grid-template-rows: [row] auto [row] auto [row] auto [row] auto [row];
  background-color: rgba(9, 47, 173, 0.096);
  color: rgb(3, 13, 17);
  align-items: center;

  border: 2px solid black;
}

.img2 {
  max-width: 50%;
  height: 50%;
  border-radius: 10px;
}

.main {
  grid-column: col / span 4;
  grid-row: row;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;

  border: 2px solid black;
}

.submain {
  grid-column: col / span 2;
  grid-row: row 2;
  background-color: rgb(16, 180, 57);
  color: black;
  padding: 1rem;
  margin: 2rem;

  border: 2px solid black;
}

.subsubmain {
  grid-column: col 3 / span 2;
  grid-row: row 6;
  background-color: rgb(32, 100, 179);
  color: rgb(0, 0, 0);
  border-radius: 20px;

  font-size: 150%;
  padding: 1rem;
  margin: 2rem;
}

.smain {
  grid-column: col / span 4;
  grid-row: row 4;
  background-color: rgb(32, 100, 179);
  color: rgb(3, 2, 7);
  border-radius: 20px;

  border: 2px solid black;

  font-size: 150%;
  padding: 1rem;
  margin: 2rem;

  display: flex;
  align-items: center;
  flex: 0 1 auto;
  margin: 2rem;

  object-fit: fill;
}

.smain2 {
  grid-column: col / span 2;
  grid-row: row 5;
  background-color: rgb(32, 100, 179);
  color: rgb(2, 1, 12);
  border-radius: 20px;

  border: 2px solid black;

  font-size: 150%;
  padding: 1rem;
  margin: 2rem;

  display: flex;
  flex: 0 1 auto;
  margin: 2rem;

  object-fit: fill;
}

.smain3 {
  grid-column: col / span 4;
  grid-row: row 6;
  background-color: rgb(32, 179, 39);
  color: rgb(56, 41, 190);
  border-radius: 20px;

  border: 2px solid black;

  padding: 1rem;
  margin: 2rem;
}

.article1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: rgb(27, 199, 76);

  justify-content: space-between;

  font-size: 1rem;
  margin: 1rem;
  border: 2px solid black;
}
