@media only screen and (max-width: 600px) {
  .root  {
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) {
  .root  {
    font-size: 16px;
  }
}



.photo {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.gridcontainer1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

@media only screen and (max-width: 800px) {
  .gridcontainer1 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 801px) {
  .gridcontainer1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 801px) {
  .gridcontainer4 {
    /*display: grid;*/
    /*grid-template-columns: repeat(1, 1fr);*/
    display: flex;
    flex-direction: column;
    margin: 20rem;
    grid-gap: 20px;
  }
}
.griditem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: hsl(calc(360 * var(--i)), 70%, 80%);*/
}

.griditem1 img {
  width: 100%;
  height: auto;

  object-fit: contain;
  border-radius: 20px;
}

.griditem1 h2 {
  margin-top: 0.5em;
  font-size: 1.25em;
}

.griditem1 h3 {
  margin-top: 0.5em;
}

#parent > :first-child {
  background-color: #ffadad;
}
#parent > :nth-child(2) {
  background-color: #ffd6a5;
}
#parent > :nth-child(3) {
  background-color: #fdffb6;
}
#parent > :last-child {
  background-color: #caffbf;
}


/*.griditem1:first-child {*/
/*  background-color: #ffadad;*/
/*}*/

/*.griditem1:nth-child(2) {*/
/*  background-color: #ffd6a5;*/
/*}*/

/*.griditem1:nth-child(3) {*/
/*  background-color: #fdffb6;*/
/*}*/

/*.griditem1:nth-child(4) {*/
/*  background-color: #caffbf;*/
/*}*/



.card {
  color: rgb(0, 0, 0);
  border-radius: 20px;
  /* margin: 5px 10px 5px 10px; */
}
.biggerdiv {
  margin: 4vw 4vw;
}
.cards {
  box-sizing: border-box;

  display: grid;
  grid-gap: 1rem;

  text-align: center;
  border-radius: 100px;
}
.cards:hover {
  cursor: grab;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
  }
}

@media (min-width: 600px) {
  .cards2 {
    color: rgb(0, 0, 0);

    border-radius: 20px;
    /*margin: 2rem 10rem 2rem 10rem;*/
    padding: 1rem 10rem 1rem 10rem;
  }
}

/* @media (min-width: 600px) {
  .cards3 {
    color: rgb(0, 0, 0);
    box-sizing: border-box;

    margin: 14 rem;
    display: grid;
    grid-gap: 10px;
    padding: 1rem;
    text-align: center;
  } */
/* } */
.cards3:hover {
  cursor: grab;
}
.card4 {
  border-radius: 20px;
  /* object-fit: cover; */
  object-fit: cover;
}
.cards4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 600px) {
  .cards4 {
    box-sizing: border-box;

    margin: 10px 20px 10px 20px;
    display: grid;
    grid-gap: 0;
    padding: 0;

    text-align: center;
    border-radius: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.card4:hover {
  opacity: 0.5;
}
.card5:hover {
  opacity: 0.5;
}

.card6:hover {
  opacity: 0.5;
}

.card5 {
  background-color: rgb(255, 234, 0);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 100%;
  text-align: center;
  padding: 70px 80px 70px 80px;
}
@media (min-width: 600px) {
  .card5 {
    width: 75%;
    height: 75%;
  }
}

@media (min-width: 600px) {
  .cards3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 600px) {
  .cards3 {
    color: rgb(0, 0, 0);

    margin: 1rem;
    display: grid;
    grid-gap: 10px;
    padding: 1rem;
    text-align: center;
  }
}
.card6 {
  background-color: rgb(255, 0, 204);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 100%;
  text-align: center;
  justify-content: center;
  padding: 70px 0;
}
@media (min-width: 600px) {
  .card6 {
    width: 75%;
    height: 75%;
  }
}

/*.cards7 {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
/*  margin: 0 -10px;*/
/*}*/
@media screen and (max-width: 799px) {
  .cards7 {
    margin: 10px;
  }
}
@media screen and (min-width: 800px) {
  .cards7 {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-gap: 5px;
  }

  .card7 {
    margin: 0 5px;
    max-width: 400px;
  }


}


.card8 {
  background-color: rgb(0, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 100%;
  text-align: center;
  padding: 70px 80px 70px 80px;
}

.card8:hover {
  opacity: 0.5;
}

@media (min-width: 600px) {
  .card8 {
    width: 75%;
    height: 75%;
  }
}
.divArt {
  width: 500px;

  height: 500px;

  border-radius: 20px;

  border: 2px solid rgb(32, 179, 39);
}

.img2 {
  max-width: 20%;
  height: 50%;
  border: 4px solid rgb(32, 179, 39);
}

.article1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: space-between;

  font-size: 2rem;
  text-align: left;
  padding: 0;
  margin: 4vw;

  border-radius: 20px;
}



@media (min-width: 600px) {
  .card7 {
    width: 75%;
    height: 75%;
  }
}

@media screen and (max-width: 768px) {
  .cards7 {
    flex-direction: column;
    margin: .5rem;
  }

  .card7 {
    margin: 0;
    max-width: none;
    width: 100%;
  }
}

.griditem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: hsl(calc(360 * var(--i)), 70%, 80%);*/
}

.griditem1 img {
  width: 100%;
  height: auto;

  object-fit: contain;
  border-radius: 20px;
}

/*img {*/
/*    border-radius: 20px;*/
/*}*/

@media only screen and (min-width: 801px) {
  .gridcontainer3 {
    grid-template-columns: repeat(3, 3fr);
  }
}
/*.card7 {*/
/*  flex: 0 0 calc(33.33% - 20px);*/


/*}*/

.cards7 img {
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* 

.container {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 2px;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25 fr;
  color: rgb(3, 13, 17);
  border-radius: 20px;
  max-width: 1400px;
  margin: 0 auto;

  grid-gap: 1rem;
}
/* 
.smain1 {
  grid-column: 1 / span 2;
  grid-row: 1/ 3;
  background-color: rgb(32, 100, 179);
  color: rgb(2, 1, 12);
  border-radius: 20px;

  border: 2px solid black;

  padding: 1rem;
  margin: 2rem;

  margin: 2rem;

  object-fit: fill;
}

.smain2 {
  grid-column: 3 / span 2;
  grid-row: 1 / 3;
  background-color: rgb(32, 100, 179);
  color: rgb(2, 1, 12);
  border-radius: 20px;

  border: 2px solid black;

  padding: 1rem;
  margin: 2rem;

  margin: 2rem;

  object-fit: fill;
}

.smain3 {
  grid-column: 1 / span 2;
  grid-row: 4 / 6;
  background-color: rgb(32, 100, 179);
  color: rgb(2, 1, 12);
  border-radius: 20px;

  border: 2px solid black;

  padding: 1rem;
  margin: 2rem;

  margin: 2rem;

  object-fit: fill;
}

.smain4 {
  grid-column: 3 / span 2;
  grid-row: 4 / 6;
  background-color: rgb(32, 100, 179);
  color: rgb(2, 1, 12);
  border-radius: 20px;

  border: 2px solid black;

  padding: 1rem;
  margin: 2rem;

  margin: 2rem;

  object-fit: fill;
}

.smain5 {
  grid-column: 1 / span 2;
  grid-row: 7 / 9;
  background-color: rgb(32, 100, 179);
  color: rgb(2, 1, 12);
  border-radius: 20px;

  border: 2px solid black;

  padding: 1rem;
  margin: 2rem;

  margin: 2rem;

  object-fit: fill;
}

.smain6 {
  grid-column: 3 / span 2;
  grid-row: 7 / 9;
  background-color: rgb(32, 100, 179);
  color: rgb(2, 1, 12);
  border-radius: 20px;

  border: 2px solid black;

  padding: 1rem;
  margin: 2rem;

  margin: 2rem;

  object-fit: fill;
} */

.divArt {
  width: 500 px;

  height: 500 px;

  border-radius: 20px;

  border: 2px solid rgb(32, 179, 39);
}

.img2 {
  max-width: 20%;
  height: 50%;
  border: 4px solid rgb(32, 179, 39);
}

.article1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: space-between;

  font-size: 1.5rem;
  text-align: left;
  padding: 0 5px 0;
  margin: 1rem;

  border-radius: 20px;
}

.image-wrapper {
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* the magic happens here */
.image-wrapper > div {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  justify-content: center;
  align-items: center;
}

